<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>help</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="../static/css/reset.css" rel="stylesheet">
  <!-- Bootstrap3.3.5 CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/help.css" rel="stylesheet"></head>
</head>
<body>
<div class="container">
  <div class="m_yah"><a href="/index">首页</a> &gt; 帮助中心
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp
    当前用户:<a>{{.CurrentUser.LoginName}}</a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="/updateUserInfo">修改用户信息<a/>


  </div>
  <div class="m_s_l" id="leftMenu">

    <div class="m_s_l_menu">成绩管理</div>
    <ul class="m_s_l_ul">
      <li class="leftMenu0 index">
        <span class="icon_list">&nbsp;</span>
        <a href="javascript:void(0);">系统介绍</a>
      </li>
      {{if eq .CurrentUser.IsAdmin "T"}}
        <li class="leftMenu3">
          <span class="icon_list">&nbsp;</span>
          <a href="/addScoreInfo">添加成绩信息</a>
        </li>
      {{end}}
      <li class="leftMenu3">
        <span class="icon_list">&nbsp;</span>
        <a href="/queryScore">查询成绩信息</a>
      </li>
    </ul>
    {{if eq .CurrentUser.IsAdmin "T"}}
      <div class="m_s_l_menu">学历认证</div>
      <ul class="m_s_l_ul">

        <li class="leftMenu3">
          <span class="icon_list">&nbsp;</span>
          <a href="/addEduInfo">添加学历信息</a>
        </li>

      </ul>
    {{end}}

    <div class="m_s_l_menu">档案管理</div>
    <ul class="m_s_l_ul">
      {{if eq .CurrentUser.IsAdmin "T"}}
        <li class="leftMenu3">
          <span class="icon_list">&nbsp;</span>
          <a href="/management2">添加/更新档案信息</a>
        </li>
      {{end}}
      <li class="leftMenu3">
        <span class="icon_list">&nbsp;</span>
        <a href="/management1">查询档案信息</a>
      </li>
    </ul>
    <div class="m_s_l_menu">学历查询</div>
    <ul class="m_s_l_ul">
      <li class="leftMenu1">
        <span class="icon_list">&nbsp;</span>
        <a href="/queryPage2">根据身份证号查询</a>
      </li>
      <li class="leftMenu2">
        <span class="icon_list">&nbsp;</span>
        <a href="/queryPage">根据证书编号查询</a>
      </li>
      <li class="leftMenu2">
        <span class="icon_list">&nbsp;</span>
        <a href="/query3">查询历史记录</a>
      </li>
    </ul>

    <div class="m_s_l_menu">系统功能</div>
    <ul>
      <li class="leftMenu5">
        <span class="icon_list">&nbsp;</span>
        <a href="/loginout">退出</a>
      </li>
    </ul>
  </div>

  <div class="m_s_r" id="rightCnt">
    <div class="m_cnt_m">
      <h2>学籍学历查询范围</h2>
      <a id="1" name="1"></a>
      <h3>&gt;&gt;学籍查询范围</h3>
      <p>国家承认的各类高等教育在籍学生的学籍注册信息（不含自考），以及2001年以来的学籍档案（已离校学生在籍期间的学籍注册信息）。</p>
      <div class="line margin01">&nbsp;</div>
      <a id="2" name="2"></a>
      <h3>&gt;&gt;学历查询范围</h3>
      <p>2001年以来国家承认的各类高等教育学历证书电子注册信息（含学历证明书）。包括研究生、普通本专科、成人本专科（
        <a href="javascript:void(0);" class="colorBlue">注册进度</a>）、网络教育（
        <a href="javascript:void(0);" class="colorBlue">注册进度</a>）、开放教育、高等教育自学考试（
        <a href="javascript:void(0);" class="colorBlue">注册进度</a>）以及高等教育学历文凭考试（
        <a href="javascript:void(0);" class="colorBlue">注册进度</a>）等。
      </p>
    </div>

    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    // 内容
    var divs = $('#rightCnt>div');
    // 点击事件
    for (var i = 0; i < divs.length; i++) {
      (function(i) {
        $('#leftMenu .leftMenu'+i).click(function() {
          $('#leftMenu li').removeClass('current');
          $(this).addClass('current');
          divs.css('display','none');
          divs.eq(i).css('display','block');
        })
      })(i)
    }
    $('.index').trigger('click');
  })
</script>
</html>

